
#map {
  height: 100vh;
  z-index: 1;
}

.fit-picture {
  max-height: 250px;
  max-width: 250px;
}

#form-routing {
  position: absolute;
  top: 150px;
  left: 50px;
  z-index: 2;
  max-width: 250px;
}